@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: black;
	color: white;
}

.wrapper {
  max-width: 1200px;
  padding-left: 1rem;
	padding-right: 1rem;
  margin-left: auto;
	margin-right: auto;
}

.image-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.figure {
  position: relative;
	flex: 0 0 75%;
  height: 30rem;
  margin-left: -7.2916666667vw;
  margin-top: 2.0833333333vw;
  transform: rotate(10deg);
  transform-origin: center;
  z-index: 1;
}

.figure__image {
    width: 100%;
		height: 100%;
		clip-path: inset(0);
		transform: translateZ(10px);
		transform-origin: center;

		display: flex;
		justify-content: center;
		align-items: center;
}

.figure__image.figure__image--2 {
    transform: translateZ(10px);
}

.figure__image.figure__image--2 img {
    transform: rotate(6deg);
    top: -100px;
}

.figure__image img {
    position: absolute;
    bottom: -100px;
    width: 200%;
		max-width: none;
    height: 200%;
    object-fit: cover;
    transform: rotate(-10deg);
    transform-origin: center;
}

.figure--2 {
	transform: rotate(-6deg);
	margin-left: -8.3333333333vw;
	margin-top: 6.0833333333vw;
	z-index: 0;
}

@media (max-width: 750px) {
  .figure {
			flex: 0 0 50%;
			height: 15rem;
  }

  .figure--1 {
    	margin-left: 2rem;
  }

	.figure--2 {
			margin-left: -12.3333333333vw;
	}

	.figure__image {
			overflow: hidden;
	}
}